<div class="form-area__license nested-fields">
  <p class="form-label"><label for="license">保有資格</label></p>
  <div class="form-area__license-inner">
    <%= f.text_field :license, class: 'form-input__license form-input-text--xl', id:'license' %>
    <%= link_to_remove_association "削除", f, class: 'btn btn-md btn-del js-btn-del-click'%>
  </div>

<script>
  $(function(){
    check_to_disable();

    $('#licenses').on('cocoon:after-insert',function(){
      const btn_attribues = 'add';
      check_to_hide_or_show_add_link(btn_attribues);
    });

      $('#licenses').on('cocoon:after-remove', function() {
        const btn_attribues ='remove';
      check_to_hide_or_show_add_link(btn_attribues);
    });

    check_to_hide_or_show_add_link();

    function check_to_hide_or_show_add_link(btn_attribues) {
      if ($('#licenses .nested-fields').length == 5) {
        $('#licenses a.btn-add').addClass('btn-disable');
      } else {
        check_to_disable();
      }
    }

    function check_to_disable() {
      if ($('#licenses .nested-fields').length ==  1) {
        $('#licenses a.btn-del').addClass('btn-disable');
        $('#licenses a.btn-del').hide();
      }

      if ($('#licenses .nested-fields').length <=  4) {
        $('#licenses a.btn-add').removeClass('btn-disable');
      } else{
      }

    }
  });
</script>