<%= content_for :body do %>
  <%= stylesheet_link_tag 'employee_siklls' %>
<% end %>
<div class="main">
  <div class="main__inner">
    <h2 class="title page-title">スキル更新</h2>
    <div class="form-area form-area__new">

      <h3 class="section-title">スキル情報</h3>

      <form action="" method="post">
        <p class="form-label"><label for="">スキル</label></p>
        <div class="form-area__skill">

          <div class="form-area__skill-inner text-left">
            <p class="form-label"><label for="">スキル種別</label></p>
            <select class="form-select1" name="type" id="">
              <option value="0">フロント言語</option>
              <option value="1">サーバーサイド言語</option>
              <option value="2">データベース</option>
              <option value="3">フレームワーク</option>
            </select>
          </div>

          <div class="form-area__skill-inner text-left">
            <p class="form-label"><label for="">スキル</label></p>
            <select class="form-select1" name="list" disabled="true" id="skill-list">
              <option value="0">Python</option>
            </select>
          </div>
        </div>

      <div class="form-area__skill-level">
        <div class="form-area__skill-level-inner text-left">
          <p class="form-label"><label for="">経験年数</label></p>
          <select select class="form-select" name="experience-year" id="">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <span>年</span>

          <select class="form-select" name="experience-month" id="">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
          </select>
          <span>ヶ月</span>
        </div>

        <div class="form-area__skill-level-inner text-left">
          <p class="form-label"><label for="license">自己評価</label></p>
          <div class="text-left">
            <select class="form-select2 form-select-self" name="self" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <span>/10</span>
          </div>
        </div>
      </div>

        <div class="text-left btn-wrapper">
          <a id="js-add-input" class="btn btn-add btn-wide">追加</a>
          <a class="btn btn-wide btn-del js-btn-del-click">削除</a>
        </div>

        <div class="btn-wrapper">
            <input class="btn btn-wide btn-submit" type="submit" value="更新" onclick="js_confirm_register()">
        </div>
      </form>
    </div>
  </div>
</div>
