@import 'application.scss';

$form-new-color: #5f5f5f;

input[type="text"]{
  margin-left: 0;
  border: 1px solid $sub-base-theme-color;
  padding: 10px;

  &.input-name{
    width: 100%;
  }
  &.form-input__license{
      margin-right: 20px;
      margin-bottom: 0;
  }
}
.form-area__license-inner{
  margin-bottom: 20px;
}
.form{
  &-area{
    color: $form-new-color;
    font-weight: 300;

    &__experience, &__license{
      margin-top: 20px;
      &-inner{
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      &-inner span{
        margin-left: 5px;
        margin-right: 20px;
      }
    }
    &__skill,&__skill-level{
      display: flex;
      justify-content: flex-start;
      &-inner{
        width: 49%;
      }
    }
    &__skill-level{
      margin-top: 20px;
    }

    &__new{
      margin-top: 40px;
      border: 1px solid  #dcdcdc;
      border-radius: 3px;
      background:#f0f0f0;
      width: 80%;
    }
  }

  &-select{
    border: 1px solid  #dcdcdc;
    border-radius: 3px;
    width: 90px;
    padding: 10px;
  }

  &-select1{
    border: 1px solid  #dcdcdc;
    border-radius: 3px;
    width: 90%;
    padding: 10px;
  }

  &-select2{
    border: 1px solid  #dcdcdc;
    border-radius: 3px;
    padding: 10px;
  }
}

// 
.skill{
  &-modal{
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    z-index: 2;
    width: 80%;
    margin: auto;
    transform: translate(-50%, -50%);
    background:$main-base-theme-color;
    overflow-y:scroll;
  }
  &-box{
    background:$main-base-theme-color;
    margin-bottom: 20px;
    border-top: 1px solid #dcdcdc;
    border-left: 1px solid #dcdcdc;
    &-wrapper{
      padding: 10px;
      margin-bottom: 5px;
      width: 800px;
      margin: auto;
      margin-top:20px ;
      height: 450px;
    }
    &-header{
      display: table;
      width: 100%;
      &_top,&_wh,&_bk{
        font-size: 0.75rem;
        padding: 10px 5px;
        text-align: center;
        display: table-cell;
        border-bottom: 1px solid #dcdcdc;
        border-right: 1px solid #dcdcdc;
      }
      &_top{
        display: table-cell;
        height: 18px;
        padding: 10px;
      }
      &_wh,&_bk{
        width: 10%;
      }
      &_bk{
        background: #f5f5f5;
      }
    }
  }
}
.modal-bg{

  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .75);
}